html {
  height: 100%;
  text-align: center;
  background-image: linear-gradient(#FC9E4F, #F2F3AE);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App-link {
  color: #61dafb;
}

#character-team-container {
  width: 80%;
  height: 100%;
  margin: auto;
}

#character {
  width: 30%;
  height: 60%;
  float: left;
}

#team {
  margin-left: 35%;
  height: 60%;
  background-color: pink;
}

#ash {
  max-height: 100%;
  max-width: 100%;
}

#row1 {
  height: 50%;
}

#row2 {
  height: 50%;
}

.pokemon {
  max-height: 100%;
  width: 28%;
  margin: 0px 5px 10px 5px;
  float: left;
}


@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  #character {
    width: 60%;
    height: auto;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  #team {
    margin-left: 8%;
    height: auto;
  }

  #row1 {
    height: 100%;
  }

  #row2 {
    height: 100%;
  }

  .pokemon {
    max-height: 100%;
    width: 28%;
    margin: 0px 5px 10px 5px;
    float: left;
  }
}
